* {
    margin:0px auto;
    padding:0px;
    color:white;
}

body {
    background-image: url(../img/bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
    background-attachment: scroll;
    background-attachment: fixed;
    margin: 0 0 40px;
}
#divWrapper{max-width:1050px;background:rgba(0,0,0,0.7);}

#header{padding:20px;clear:both;background: rgba(0,0,0,0.7);}
#header .logo{border:1px inset silver;border-radius:100%;}
#header h1{display:inline-block;line-height:32px;position:relative;bottom:20px;margin-left:10px;}

#nav{
    display:block;
    text-align:center;
    clear:both;
    background: rgba(0,0,0,0.7);
}

#nav ul{
    list-style:none;
    display:block;
    background-color:rgba(0,0,0,0.7);
    border-top:2px inset;
    border-bottom:2px inset;
}

#nav ul li{
    display:inline-block;
}

#nav ul li a{
    display:inline-block;
    font-weight:bold;
    font-size:18px;
    text-decoration:none;
    text-transform:uppercase;
    padding:3px 15px;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    transition:color 0.4s ease-in-out;
    -webkit-transition:color 0.4s ease-in-out;
    -moz-transition:color 0.4s ease-in-out;
    -o-transition:color 0.4s ease-in-out;
}

#nav ul li a:hover{
    color:orange;
}

#main textarea{
    max-width:400px;
    width:100%;
    height:80px;
    padding:10px;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
}
#main input{color:black;}

#main .button, .button{
    text-decoration:none;
    color:white;
    background:rgba(0,0,0,0.4);
    padding:0px 10px;
    border:3px inset white;
    border-radius:16px;
    margin-top:5px;
    display:inline-block;
}
#username, #password, #chat_container input{color:black;}

/****** Login ******/
#profile{
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-bottom:20px;
    text-align: center;
    float: right;
    background: rgba(0,0,0,0.7);
}

#welcome{
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}

#welcome a{
    text-decoration:none;
    font-style:italic;
}

#welcome a:hover{
    text-decoration:underline;
}

#login, #register{
    background:rgba(0,0,0,0.7);
    border:3px inset white;
    margin:0 auto;
    width:600px;
    padding:20px;
}

#logout{
    display:block;
}

#main .br{
    display:block;
    margin:10px 10px 10px 0px;
}

#main select, #main select option, #main textarea{
    color:#000000;
}

/****** Contact ******/
.contact input, .new_disc input, .content input, .content select{padding:5px;}

/****** FireChat ******/
#chat_container{
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin-bottom:20px;
    float: right;
    background: rgba(0,0,0,0.7);
    clear:both;
}
#chat_container h2{margin-bottom:20px;}
#chat_container ul{list-style: none;}
#chat_container ul li{margin:5px;}
#chat_container .chat-username{padding-right:5px;}

.profile_nav{
    padding:5px 10px;
    margin:0px 240px 10px 0px;
    display:block;
    background:rgba(0,0,0,0.7);
    position:relative;
    border-bottom:2px inset silver;
}
.menu_left, .menu_right{display:inline-block;}
.menu_right{float:right;position:absolute;right:0px;padding:3px 20px;}

.profile_nav ul{list-style:none;}

.profile_nav li{
    display:inline-block;
}
.profile_nav .nav_line{
    position:relative;
    display:inline-block;
    top:4px;
    width:1px;
    height:20px;
    margin:0px 10px;
    background:white;
}
.profile_nav a{
    font-size: 19px;
    text-decoration: none;
    color:white;
    cursor: pointer;
    transition: color .4s ease-in-out;
    transition-delay: 0s;
}
.profile_nav a:hover{
    color:orange;
}
.profile_content{
    display:none;
}

/****** Discussion ******/
.new_disc, .profile_content, .prof, .index, .contact{margin-left:20px;}
.discussion{display:block;border-top:2px inset silver;border-bottom:2px inset silver;clear:both;padding:0px 20px;background:rgba(0,0,0,0.7);height:100px;}
.discussion .disc_name{
    display:inline-block;
    padding:20px;
}.disc_name h2{font-size:27px;}

.discussion .disc_img{
    display:inline-block;
    height:100px;
    width:120px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    float:left;
}

/****** Profile ******/
#main .profile_content:nth-child(2){
    display:block;
}
#main .profile_content:nth-child(2) .post pre{
    white-space: pre-line;
    word-break: break-all;
}
#main .post{
    border:2px inset grey;
    display:inline-block;
    max-width:400px;
    width:100%;
    background:rgba(0,0,0,0.7);
    clear:both;
    padding:5px;
    margin-top:10px;
    margin-bottom:10px;
}
.post_username{display:inline-block;margin-bottom:5px;position:relative;bottom:25px;font-style:italic;font-size:19px;}
.post_date{
    float:right;
    display:inline-block;
    padding:2px;
}

#avatar, #disc_img{
    max-width:450px;
    width:100%;
}

.user{
    column-count:2;
    -webkit-column-count:2;
    -moz-column-count:2;
}
.postImg{max-width:375px;}

.icon{
    width:80px;
    height:80px;
    display:inline-block;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border:3px inset white;
    border-radius:100%;
    margin-bottom: 20px;
}
.small{
    width:30px !important;
    height:30px !important;
    margin: 0px 5px 5px 0px !important;
}

.warning{
    max-width:450px;
    margin:0px auto;
    border:3px solid #000000;
    background:rgba(0,0,0,0.7);
    padding:20px;
}
.err-img{
    display:block;
    width:100%;
    background:white;
    border-bottom:3px solid #000000;
    margin-bottom:20px;
}

#footer{
    width:100%;
    background-color:rgba(0,0,0,0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    overflow:hidden;
    border-top:2px inset silver;
}
#footer p{margin:10px 20px;}

.clearfix{clear:both;}